/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*styles from here */

body{
  background-color:rgb(245,248,250);
  padding: 20px;
  font-family: 'Lato', sans-serif;

}

main{
  display: flex;
  flex-direction: row wrap;
  background-color: white;
  width: 80%;
  margin: auto;
  box-shadow: 5px 3px 13px -4px rgba(0,0,0,0.61);

}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  padding: 1rem;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border-bottom: 0.1rem solid rgb(190, 190, 190);
  margin-bottom: 50px;
}


.nav-account{
  border: 2px solid black;
  border-radius: 10px;
}

.checkout-h3{
  size: 30px;
  color: #1D2C3C;
  padding: 1rem;
  filter: drop-shadow(1px 1px 1px black);


}

.checkout{
  border-bottom: 0.1rem solid rgb(218, 218, 218);
  height: 80px;
  padding: 1rem;
}




.basic-information span, .payment-information span{
  color: rgb(84,139,197);
  border: 2px solid rgb(84,139,197);
  border-radius: 50%;
  padding: 0.4rem;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.first-name-section, .last-name-section, .email-section, .credit-forms{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.basic-information p, .payment-information p{
  font-weight: 700;
  padding: 1rem;
  margin-bottom: -1rem;
}


.basic-information, .payment-information, .credit-forms{
  padding: 1rem;
}

.basic-information, .payment-information{
  border-bottom: 0.1rem solid rgb(218, 218, 218);

}


.name-wrapper{
  display: flex;
  
}

.first-name-section, .last-name-section, .email-section, .credit-forms{
  padding: 1rem;
}

.email-section input, .credit-info{
  width: 90%;
}

input{
  background-color: rgb(237, 239, 242);
  border: none;
  height: 20px;
  padding: 0.2rem;
}


/*Buy WP Pusher Styling */
.checkout-footer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.checkout-footer-section button{
  width: 80%;
  background: #038E7D;
  height: 50px;
  color: white;
  font-family: 'Lato', sans-serif;
 border: none;


}

.support img{
  padding: 1rem;
}

/* Credit Forms  Styling*/


.credit-forms{
  display: flex;
  flex-direction: column;
}

.credit-info{
  background-color: rgb(237, 239, 242);
}

.credit-info #credit{
  width: 70%;
}

.credit-info #month-date{
  width: 10%;
}

.credit-info #cvv{
  width: 10%;
}

/***Freelancer Section**/
.freelancer{
  color: white;
  background: #1179BF;
  width: 30%;
  padding: 2rem;
}

.checkout-whole-section{
  width: 70%;
}

.enlarge{
  font-size: 60px;
  font-weight: 300;
}

sup{
  font-size: 20px;
}

.renews{
  font-weight: 100;
  font-size: 18px;
  font-style: italic;
  width: 70%;
}

.check-mark-section img{ 
  padding: 5px;
}

.agency-plan p:nth-child(2){
  text-decoration: underline;
}

.line{
  background-color: white;
  display: flex;
  align-items: center;
  height: 2px;
  width: 100%;
  opacity: 0.2;
  margin-top: 40px;
}



.testimonials-italics{
  width: 80%;
  font-style: italic;
}

.testimonial-img p{
  font-style: bold;
}

.testimonial-img img{
 padding: 5px;
}

footer{
  text-align: center;
  font-size: 12px;
}

footer span{
  color: #1179BF;
}